*{

margin:0;
padding:0;
box-sizing:border-box;

font-family:Arial,sans-serif;

}


body{

background:#F8F1E3;

min-height:100vh;

display:flex;

justify-content:center;

align-items:center;

position:relative;

overflow:hidden;
}



/* Heritage background */

.heritage-left,
.heritage-right{

position:absolute;

width:200px;

height:100%;

opacity:.08;

background-image:url(
https://www.transparenttextures.com/patterns/arabesque.png
);

}

.heritage-left{

left:0;
top:0;
}

.heritage-right{

right:0;
top:0;
}




.main-container{

display:flex;

flex-direction:column;

align-items:center;

width:100%;
}



.logo{

width:120px;

margin-bottom:15px;

filter:
drop-shadow(
0 10px 20px rgba(0,0,0,.1)
);
}

.logo-section{

text-align:center;

margin-bottom:30px;
}


.logo-section h1{

font-size:50px;

color:#6A2C1E;

margin-bottom:10px;
}

.logo-section p{

color:#A67C52;

font-size:18px;
}




.login-card{

width:500px;

background:white;

padding:40px;

border-radius:28px;

box-shadow:
0 15px 45px rgba(0,0,0,.08);

transition:.5s;
}

.login-card:hover{

transform:
translateY(-5px);
}



.login-card h2{

margin-bottom:30px;

color:#6A2C1E;
}



.input-group{

margin-bottom:25px;
}


.input-group label{

display:block;

margin-bottom:10px;

font-weight:bold;
}



.password-header{

display:flex;

justify-content:space-between;
}



.password-header a{

text-decoration:none;

color:#A67C52;
}




.input-box{

display:flex;

align-items:center;

border:1px solid #ddd;

padding:15px;

border-radius:15px;

background:#FAFAFA;
}


.input-box i{

margin-right:10px;

color:#C8932D;
}



.input-box input{

border:none;

outline:none;

width:100%;

background:none;
}




.signin-btn{

width:100%;

padding:16px;

border:none;

background:#D4A017;

color:white;

font-size:18px;

border-radius:15px;

cursor:pointer;

margin-top:20px;

transition:.3s;
}


.signin-btn:hover{

transform:translateY(-3px);

background:#B8860B;
}



.terms{

font-size:14px;

margin-top:20px;

line-height:1.5;

color:gray;
}



.divider{

display:flex;

align-items:center;

margin:30px 0;
}

.divider::before,
.divider::after{

content:"";

flex:1;

height:1px;

background:#ddd;
}

.divider span{

margin:0 15px;

color:gray;
}




.google-btn,
.face-btn{

width:100%;

padding:15px;

margin-bottom:15px;

border-radius:15px;

cursor:pointer;

border:1px solid #ddd;

background:white;

font-size:16px;

transition:.3s;
}

.google-btn:hover,
.face-btn:hover{

transform:translateY(-3px);

background:#f5f5f5;
}



.create-account{

margin-top:30px;

text-align:center;
}

.create-account button{

margin-top:10px;

padding:15px 40px;

border:none;

background:#6A2C1E;

color:white;

border-radius:15px;

cursor:pointer;
}